</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const currentDate = new Date(); %>
  <% const currentYear = currentDate.getFullYear(); %>
  <p>Copyright © <%= currentYear %></p>
</footer>
</body>

</html>