*{
    background-color: black;
}

h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
   
}

div {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;

    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    
}

img {
    border: 5px solid white;
    width: 100%;
}